.select_asistencias{
    margin-bottom: 40px;
    margin-top: 40px;
}

.label_asistencias, .select_asistencias, .input_asistencia, .button_asistencia{
    margin-left: 15px;
}

.mensaje_resultado{
    margin-bottom: 10px; 
    text-align: center;
    color: red;
}