<nav class="p-2 mb-1 bg-dark text-white" >
    <h1 >Instituto</h1>

    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-1 bd-highlight">
            <h4 style="margin-left: 50px;"> <a routerLinkActivated="active" routerLink="cursos/list">Cursos</a> </h4>
        </div>
        <div class="p-1 bd-highlight">
            <h4> <a routerLinkActivated="active" routerLink="planillas/list">Planillas</a> </h4>
        </div> 
        <div class="p-1 bd-highlight">
            <h4> <a routerLinkActivated="active" routerLink="asistencias/list">Asistencias</a> </h4>
        </div>
        <div class="p-1 bd-highlight">
            <h4> <a routerLinkActivated="active" routerLink="profesores/list">Profesores</a> </h4>
        </div>
        <div class="p-1 bd-highlight">
            <h4> <a routerLinkActivated="active" routerLink="alumnos/list">Alumnos</a> </h4>
        </div>
    </div>
</nav>