<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Legajo</th>
      <th scope="col">Nombre</th>
      <th scope="col">DNI</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alumno of alumnos; index as i">
      <th scope="row">{{ i + 1 }}</th>

      <td>{{ alumno.legajo }}</td>
      <td>{{ alumno.nombre }}</td>
      <td>{{ alumno.dni }}</td>
      <td>
        <button type="button" title="Ver Alumno" class="btn btn-info btn-sm ver_button"
          routerLink="/alumnos/ver/{{alumno.alumno_id}}"></button>
        <button type="button" title="Modificar Alumno" class="btn btn-info btn-sm modify_button"
          routerLink="/alumnos/editar/{{alumno.alumno_id}}"></button>
        <button type="button" title="Eliminar Alumno" class="btn btn-danger btn-sm delete_button"
          (click)="delete(alumno)"></button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>
      <button type="button" title="Agregar Alumno" class="btn btn-info btn-sm add_button"
        routerLink="/alumnos/nuevo"></button>
    </td>
  </tfoot>
</table>