<div class="container">
    <div class="row" style="border: solid;">
        <h1 class="col-11" style="text-align: center;">  Nombre Curso </h1>
        <h4 class="col-1" >#</h4>
    </div>
    <div class="row">
        <h4 class="col-5" >Profesor: Nombre</h4>
        <h4 class="col-5" >Auxiliar: Nombre</h4>
        <h4 class="col-2" >Fecha: dd/mm/aaaa</h4>
    </div>
    <div class="row">
        <h4 class="col-12"> Alumnos</h4>
    </div>
    <div class="row">
        <div class="col">#</div>
        <div class="col-2">Legajo</div>
        <div class="col-8">Nombre</div>
        <div class="col">Asistió</div>
    </div>

    <div class="row" *ngFor="">

    </div>
</div>

