<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Titulo</th>
      <th scope="col">DNI</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let profesor of profesores; index as i">
      <th scope="row">{{ i + 1 }}</th>
      
      <td>{{ profesor.nombre }}</td>
      <td>{{ profesor.titulo }}</td>
      <td>{{ profesor.dni }}</td>
      <td>
        <button type="button" class="btn btn-info btn-sm ver_button" routerLink="/profesores/ver/{{profesor.profesor_id}}"></button>
        <button type="button" class="btn btn-info btn-sm modify_button" routerLink="/profesores/editar/{{profesor.profesor_id}}"></button>
        <button type="button" class="btn btn-danger btn-sm delete_button" (click)="delete(profesor)"></button>
      </td>
    </tr>
    </tbody>
    <tfoot>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>
        <button type="button" title="Agregar Profesor" class="btn btn-info btn-sm add_button" routerLink="/profesores/nuevo"></button>
      </td>
    </tfoot>
  </table>