/* You can add global styles to this file, and also import other style files */

.add_button, .delete_button, .modify_button, .ver_button {
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}

.ver_button {
    background-image: url("./assets/Ver.png");
}
.modify_button {
    background-image: url("./assets/modificar.png");
}
.delete_button {
    background-image: url("./assets/eliminar.png");
}
.add_button{
    background-image: url("./assets/agregar.png");
}


.form-container{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 500px;
    padding: 16px;
    margin: 10px auto;
    background: #f7f7f7;
}

.autocomplete{
    margin-bottom: 4%;
    transition: all 0, 30% ease-in-out;
    outline: none;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #cccccc;
    color: #555555;
    font: 95% Arial, Helvetica, sans-serif;
}

.form-container h1 {
    background: #43d1af;
    /* background: #8DB9ED; */
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.parrafo
{
    margin: 1%;
}

.form-container input[type="date"],
.select-box{
    /* width: 68%;  */
    width: 100%;
}

.select-label{
    transition: all 0, 30% ease-in-out;
    outline: none;
    box-sizing: border-box;
    background: #dddada;
    margin-bottom: 4%;
    border: 1px solid #cccccc;
    color: #555555;
    font: 95% Arial, Helvetica, sans-serif;
    padding: 3%;
    display: inline-block;
    width: 32%; 
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea{
    width: 100%;
}

.select-box,
.form-container input[type="date"],
.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    transition: all 0, 30% ease-in-out;
    outline: none;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #cccccc;
    color: #555555;
    font: 95% Arial, Helvetica, sans-serif;
    padding: 3%;
}

.form-container .btn-send, .btn-volver{
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43d1af;
    /* background: #8DB9ED; */
    border-bottom: 2px solid #30c29e;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

.form-container .btn-send:hover:not([disabled]){
    background: #2ebc99;
}

.btn-volver{
    border-bottom: 2px solid #d16043;
    background: #d16043;
    margin-bottom: 4%;
}

.alert-danger{
color: #721c24;
background: #f8d7da;
border-color: #f5c6cb;
margin-bottom: 5px;

}
.alert-succes{
color: blue;
background: skyblue;
border-color:skyblue;
margin-bottom: 15px;
font:150% Arial, Helvetica, sans-serif;
text-align: center;
}

.container-error-message{
    padding: 3px;
}